.scroll_up {
  position: fixed;
  bottom: 20px;
  right: 5px;
  background-color: #b30;
  color: #fff;
  border-radius: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  cursor: pointer;
  z-index: 20;
}
